#nojs{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 2em;
    background: yellow;
    color: red;
}



p.message{
    color: #335E79;
    padding: 1em;
    background: #CADEEB;
}

span.secret{
    float: left;
}
