body{
    background:#e3dbdb url('img/header.png') repeat-x right top;
}

.mp-logo{
    display:block;
    margin:10em auto 5em;
}

.moto{
    margin:0em auto 1em;
    font-size:2em;
    font-family:Sans;
    color:#483737;
    width:10.4em;
}

/* Messages from the flask server. */
div.message{
    background: red;
    color: white;
}

a.logout{
    color: white;
}

/* Messages in the login form */
div.login-message{
    color: #d66418;
    padding: 1em;
    background: #CADEEB;
    margin: 2em auto;
    width: 5.5em;
    border-radius: 1em;
}

form{
    width:20.5em;
    margin:0em auto;
}

form input{
    width:23.5em;
    height:1.5em;
    margin-bottom:1.6em;
}

form input{
    width:23.5em;
    height:1.5em;
    margin-bottom:1.6em;
}

form input[type='submit']{
    height: 2.2em;
    width: 24.1em;
}

.main {
    margin-top:75px;
}

#compose {
    margin:20px; 
}
#compose input,#compose textarea {float:right;}
>>>>>>> d28e6b1802df3e2228ada7d5752e5fdaaaa80a46

#nojs{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 2em;
    background: yellow;
    color: red;
}

span.secret{
    float: left;
}
