<!doctype html>
<title>OTP - The One True Page</title>
<meta charset=utf-8>
<link rel=stylesheet type=text/css href="{{url_for('static', filename='style.css')}}">
<link rel=stylesheet type=text/css href="{{url_for('static', filename='bootstrap.css')}}">
<script>
    var uid = {{current_user.id}};
    var viewers = {{viewers|tojson}};
    var rawsecrets = {{secrets|tojson}};
</script>
<script src="{{url_for('static', filename='angular.min.js')}}"></script>
<script src="{{url_for('static', filename='otp.js')}}"></script>

<div class=messages>
    {% for message in get_flashed_messages() %}
    <p class=message>{{message}}
    {% endfor %}
</div>

<div id=toolbar>
    <a href="{{url_for('login')}}">sign out [{{current_user.name}}]</a>
</div>

{% raw %}
<div data-ng-app=otp data-ng-controller=secrets>
    <div id=nojs style='{{nojsstyle}}'>
        You must have JavaScript turned off.
    </div>

    
    <div id=threads class='col-md-2'>
        <h3>Threads</h3>
        <div data-ng-repeat='thread in threads'>
            <h4 ng-click=''>{{thread.name}}</h4>

            <!--p data-ng-repeat='viewer in thread.viewers'>{{viewer}}</p>
            <span class=secret data-ng-repeat='secret in thread.members'>
                <h3>{{secret.name}}</h3>
                <p>{{secret.body}}</p>
            </span-->
        </div>
    </div>

    <div id=secrets class='col-md-10'>
        <h3>Secrets</h3>
        
            <div class=thread data-ng-repeat='secret in secrets '>
                <h4>{{secret.authorid}}:</h4>
                <span data-ng-repeat='viewer in secret.viewers'>{{viewer}}</span>
                <p>{{secret.body}}</p>
                
            </div>
        
    </div>


</div>

{% endraw %}
