{% extends "layout.html" %}
{% block body %}
<script>
    var rawsecrets = {{secrets|tojson}};
    var rawviewers = {{viewers|tojson}};
    var latestsecretid = {{latestsecretid}};
    var uid = {{current_user.id}};
</script>
<script src="{{url_for('static', filename='angular.min.js')}}"></script>
<script src="{{url_for('static', filename='otp.js')}}"></script>

<div>
    <a class=logout href="{{url_for('login')}}">sign out [{{current_user.name}}]</a>
</div>

{% raw %}
<div data-ng-app=otp data-ng-controller=threads id=main>
    <div id=nojs style="{{nojsstyle}}">
        You must have JavaScript turned off.
    </div>

    <div class=col-md-3>

        <div id=ripe data-ng-if="ripe.length > 0">
            <h2>New Threads</h2>
            <div class=thread data-ng-repeat="thread in ripe" data-ng-click="viewthread(thread)">
                <h4>from:{{thread.rootsecret.author.name}}</h4>
                <p data-ng-repeat="viewer in thread.viewers">{{viewer.name}}</p>
            </div>
        </div>

        <div id=viewed data-ng-if="viewed.length > 0">
            <h2>Viewed Threads</h2>
            <div class=thread data-ng-class="{curthread: data.activethread === thread}" data-ng-repeat="thread in viewed" data-ng-click="data.activethread = thread">
                <h4>{{thread.name}}</h4>
                <p data-ng-repeat="viewer in thread.viewers">{{viewer.name}}</p>
            </div>
        </div>

    </div>

    <div id=secrets class=col-md-3 ng-if="data.activethread">
        <h2>Current Thread</h2>
        <h3>{{data.activethread.name}}</h3>
        <div class=secret data-ng-repeat="secret in data.activethread.members.toarray()">
            <code>{{secret.id}}</code>{{secret.author.name}}: {{secret.body}}
        </div>
    </div>

    <div id=viewers class=col-md-3>
        <h2>Viewers</h2>
        <div class=viewer data-ng-repeat="(id, viewer) in viewers">
            <code>{{id}}</code>{{viewer.name}}: {{viewer.lastseen}}
        </div>
    </div>

    <div class=col-md-3>
        <div id=compose data-ng-controller=composer class=col-md-2>
            parentid:
            <input type=text data-ng-model=parentid>
            add authparentid:
            <input type=text data-ng-model=authparentid data-ng-keypress="$event.which === 13 && addauthparent()">
            <ul><li data-ng-repeat="authparentid in authparents" data-ng-click="authparents.splice(this.$index, 1)">{{authparentid}}</li></ul>
            add authchildid:
            <input type=text data-ng-model=authchildid data-ng-keypress="$event.which === 13 && addauthchild()">
            <ul><li data-ng-repeat="authchildid in authchildren" data-ng-click="authchildren.splice(this.$index, 1)">{{authchildid}}</li></ul>
            add viewer:
            <input type=text data-ng-model=viewerid data-ng-keypress="$event.which === 13 && addviewer()">
            <ul><li data-ng-repeat="viewerid in viewers" data-ng-click="viewers.splice(this.$index, 1)">{{viewerid}}</li></ul>
            <textarea data-ng-model=body></textarea>
            <input type=button value=send data-ng-click="post()">
            <input type=button value=getnew data-ng-click="getnew()">
        </div>
    </div>
</div>
{% endraw %}
{% endblock %}
