<!doctype html>
<title>OTP - The One True Page</title>
<meta charset=utf-8>
<link rel=stylesheet type=text/css href="{{url_for('static', filename='style.css')}}">
<script>
    var uid = {{current_user.id}};
    var rawsecrets = {{secrets|tojson}};
    var rawviewers = {{viewers|tojson}};
</script>
<script src="{{url_for('static', filename='angular.min.js')}}"></script>
<script src="{{url_for('static', filename='otp.js')}}"></script>

<div class=messages>
    {% for message in get_flashed_messages() %}
    <p class=message>{{message}}
    {% endfor %}
</div>

<div id=toolbar>
    <a href="{{url_for('logout')}}">sign out [{{current_user.name}}]</a>
</div>

{% raw %}
<div data-ng-app=otp data-ng-controller=secrets>
    <div id=nojs style='{{nojsstyle}}'>
        You must have JavaScript turned off.
    </div>
    <div data-ng-repeat='thread in threads'>
        {{secrets[thread[0]].name}}
    </div>
</div>
{% endraw %}

<div id=threads data-ng-controller=''></div>
<div id=secrets></div>
<p id=compose>compose</p>
