{% extends "layout.html" %}
{% block body %}
<script>
	function validateForm(){
		if(document.forms[0][1].value===document.forms[0][2].value) return true;
		return false;
	}
</script>

<img class=logo src=static/img/logo.svg alt=logo>
<div class=moto>THE ONE TRUE PAGE</div>
<form method=post onsubmit="return validateForm()">
{% if request.form['passphrase'] %}
	<div class=login-message>Welcome new user, please choose a name</div>
	<input name=name placeholder=Name autofocus>
	<input name=prevpassphrase type=password value="{{request.form['passphrase']}}" disabled>
    <input name=passphrase type=password placeholder='Repeat Passphrase'>
    <input type=submit>
{% else %}
    <div class=login-message>Speak, friend, and enter</div>
    <input name=passphrase type=password placeholder=Passphrase autofocus>
    <p class=teaser>{{numofsecrets}} secrets shared by {{numofviewers}} viewers await you</p>
{% endif %}
    <input name=next type=hidden value="{{request.form['next']}}">
</form>
{% endblock %}
